#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=true
Name=VidswapRestore
Exec=bash -c 'cd "$(dirname %k)/vidswap" && ./restore.sh;$SHELL'
Categories=Application
