#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=true
Name=Vidswap
Exec=bash -c 'cd "$(dirname %k)/vidswap" && ./random_service_uninstall.sh;$SHELL'
Categories=Application
