[Unit]
Description=Sets a random startup video on startup

[Service]
Type=oneshot
WorkingDirectory=/home/deck/steamdeck_tools/vidswap
ExecStart=/bin/bash /home/deck/steamdeck_tools/vidswap/randomizer.sh

[Install]
WantedBy=default.target
